<!DOCTYPE html>
<html lang="en">

<head>
          <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <meta content="Wasili, Wasili Burundi, covoiturage Burundi, taxi Burundi, transport Burundi" name="keywords">
          <meta content="Site Web Wasili Covoiturage" name="description">

          <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap"
                    rel="stylesheet">

          <link rel="icon" type="image/x-icon"
                    href="https://wasiliburundi.bi/assets_covoiturage_new/images/favicon.png">

          <link href="https://wasiliburundi.bi/assets_covoiturage_new/css/style.css" rel="stylesheet">
          <style>
                    body, html {
                              scroll-behavior: smooth;
                    }
                    .nav-item a {
                              color: #333 !important;
                    }
                    .aside-links {
                              margin-top: 150px;
                    }
                    .aside-links-fixed {
                              position: sticky;
                              top: 10px;
                    }
          </style>
          <title>Politique de confidentialite</title>
</head>

<body>
          <input type="hidden" id="txn_id" name="txn_id" value="">
          <input type="hidden" id="INSCRIPTION_ID" name="INSCRIPTION_ID" value="">
          <header>
                    <!-- Menu Start -->
                    <nav className="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
                              id="ftco-navbar">
                              <div className="container">
                                        <a className="navbar-brand" href="index.html"><img width="50px"
                                                            src="https://wasiliburundi.bi/assets_covoiturage_new/images/wasili_logo.png"></a>
                                        <button className="navbar-toggler" type="button" data-toggle="collapse"
                                                  data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false"
                                                  aria-label="Toggle navigation">
                                                  <span className="oi oi-menu"></span> Menu
                                        </button>

                                        <div className="collapse navbar-collapse" id="ftco-nav">
                                                  <ul className="navbar-nav ml-auto">
                                                            <li className="nav-item"><a href="https://wasiliburundi.bi/"
                                                                                className="nav-link">Accueil</a></li>
                                                            <li className="nav-item"><a
                                                                                href="https://wasiliburundi.bi/#covoiturage"
                                                                                className="nav-link">Aide</a></li>

                                                            <li className="nav-item"><a
                                                                                href="https://wasiliburundi.bi/#inscription"
                                                                                className="nav-link">Inscription Rider</a>
                                                            </li>
                                                            <li className="nav-item"><a
                                                                                href="https://wasiliburundi.bi/Home/inscription_driver"
                                                                                className="nav-link">Inscription Driver</a>
                                                            </li>
                                                            <li className="nav-item"><a
                                                                                href="https://wasiliburundi.bi/#contact"
                                                                                className="nav-link">Contact</a></li>
                                                            <li className="nav-item"><a href="#" className="nav-link"></a></li>

                                                  </ul>
                                        </div>

                              </div>
                    </nav>
                    <!-- Menu End -->
          </header>
          <div className="container aside-links">
                    <div className="row">
                              <div className="col-md-4">
                                        <ul className="list-group aside-links-fixed">
                                                  <li className="list-group-item">
                                                            <a href="#">Politique de confidentialité </a>
                                                  </li>
                                                  <li className="list-group-item">
                                                            <a href="#position-collect">Collecte de la localisation </a>
                                                  </li>
                                                  <li className="list-group-item">
                                                            <a href="#data-keep">Conservation des données de localisation</a>
                                                  </li>
                                                  <li className="list-group-item">
                                                            <a href="#data-uses">Utilisation des données personnelles </a>
                                                  </li>
                                                  <li className="list-group-item">
                                                            <a href="#account-collect">Collecte d'informations de compte </a>
                                                  </li>
                                                  <li className="list-group-item">
                                                            <a href="#data-share">Partage des données personnelles </a>
                                                  </li>
                                                  <li className="list-group-item">
                                                            <a href="#security">Sécurité des données </a>
                                                  </li>
                                                  <li className="list-group-item">
                                                            <a href="#data-conserv">Conservation des données </a>
                                                  </li>
                                                  <li className="list-group-item">
                                                            <a href="#ratings">Gestion des avis et évaluations </a>
                                                  </li>
                                        </ul>
                              </div>
                              <div className="col-md-8" id="#">
                                        <h4>Politique de confidentialité de l'application <b>Wasili Rider</b></h4>
                                        <p>Chez <b>Wasili Rider</b> nous attachons une grande importance à la protection de la confidentialité des données de nos chauffeurs utilisant notre application mobile de taxi. Cette politique de confidentialité a pour but de vous informer sur la manière dont nous collectons, utilisons, partageons et protégeons les données personnelles des chauffeurs. Veuillez lire attentivement cette politique pour comprendre comment nous traitons vos informations.</p>
                                        <h4 id="position-collect">Collecte de la localisation </h4>
                                        <p>
                                                  Nous collectons votre localisation pendant l'utilisation de notre application mobile de taxi pour assurer la fonctionnalité de géolocalisation nécessaire à la réservation et à la fourniture de services de taxi. Votre localisation peut être collectée en temps réel lorsque l'application est utilisée en premier plan, ainsi qu'en arrière-plan lorsque vous avez autorisé cette fonctionnalité. Cela nous permet de vous connecter aux clients demandant une course à proximité de votre position actuelle.
                                        </p>
                                        <h4 id="data-keep">Conservation des données de localisation  </h4>
                                        <p>
                                                  Nous conservons les données de localisation collectées pendant une période limitée, conformément aux lois et réglementations applicables. Ces données sont conservées pour faciliter les réservations de courses, améliorer les services et résoudre les problèmes liés aux trajets.
                                        </p>
                                        <h4 id="data-uses">Utilisation des données personnelles </h4>
                                        <p>
                                                  Les données personnelles collectées, telles que votre nom, votre numéro de téléphone et votre adresse e-mail, sont utilisées dans le but de vous identifier en tant que chauffeur et de faciliter les réservations de courses avec les clients. Nous utilisons également ces informations pour communiquer avec vous, vous envoyer des notifications liées à votre compte, des mises à jour sur nos services et des informations pertinentes liées à l'application.
                                        </p>
                                        <h4 id="data-uses">Collecte d'informations de compte </h4>
                                        <p>
                                                  Nous collectons des informations de compte supplémentaires, telles que votre photo, les détails de votre véhicule, votre numéro de licence de conduire et toute autre information requise pour vérifier votre admissibilité en tant que chauffeur de taxi. Ces informations sont collectées dans le but de garantir la sécurité des passagers et de respecter les réglementations en vigueur concernant les services de transport.
                                        </p>
                                        <h4 id="account-collect">Collecte d'informations de compte </h4>
                                        <p>
                                                  Nous collectons des informations de compte supplémentaires, telles que votre photo, les détails de votre véhicule, votre numéro de licence de conduire et toute autre information requise pour vérifier votre admissibilité en tant que chauffeur de taxi. Ces informations sont collectées dans le but de garantir la sécurité des passagers et de respecter les réglementations en vigueur concernant les services de transport.
                                        </p>
                                        <h4 id="data-share">Partage des données personnelles </h4>
                                        <p>
                                                  Nous ne partageons vos données personnelles qu'avec les tiers strictement nécessaires à la fourniture de nos services de taxi. Cela peut inclure le partage de vos informations avec les clients demandant une course, afin de faciliter la réservation et la mise en relation. Nous veillons à ce que les tiers avec lesquels nous partageons vos données respectent des normes strictes de confidentialité et de protection des données.
                                        </p>
                                        <h4 id="security">Sécurité des données </h4>
                                        <p>
                                                  Nous mettons en place des mesures de sécurité appropriées pour protéger vos données personnelles contre tout accès non autorisé, toute divulgation ou toute altération. Nous utilisons des protocoles de sécurité standard pour garantir la confidentialité et l'intégrité des données.
                                        </p>
                                        <h4 id="data-conserv">Conservation des données </h4>
                                        <p>
                                                  Nous conservons vos données personnelles pendant la durée nécessaire à la fourniture de nos services de taxi et conformément aux obligations légales en vigueur. Lorsque vos données personnelles ne sont plus nécessaires, nous les supprimerons de manière sécurisée.
                                        </p>
                                        <h4 id="ratings">Gestion des avis et évaluations </h4>
                                        <p>
                                                  Nous pouvons collecter des avis et des évaluations des clients concernant votre prestation de service en tant que chauffeur de taxi. Ces avis et évaluations peuvent être affichés dans notre application pour aider les clients à prendre des décisions éclairées lors de la réservation de courses. Veuillez noter que nous ne contrôlons pas les commentaires laissés par les clients et nous nous engageons à ne pas manipuler ou modifier ces avis de manière injuste.
                                        </p>
                              </div>
                    </div>
          </div>
</body>

</html>